<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>FixDisplay</key>
				<true/>
				<key>FixHPET</key>
				<true/>
				<key>FixShutdown</key>
				<true/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Battery: ECRM</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					W4FJREVDUk0R
					</data>
					<key>Replace</key>
					<data>
					W4FMRkVDUk0R
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Battery: 8bit</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					Q0FQMBBSQ1AwEFZPVDAQQ1JUMBBCVE0wEEJT
					VDAQQlJDMBBGQ1AwEERDUDAQRFZUMBBNRVIw
					EE1GRDAQQlNOMBA=
					</data>
					<key>Replace</key>
					<data>
					Q0FQWAhDQVBZCFJDUDAQVk9UWAhWT1RZCENS
					VFgIQ1JUWQhCVE0wEEJTVDAQQlJDMBBGQ1BY
					CEZDUFkIRENQWAhEQ1BZCERWVFgIRFZUWQhN
					RVIwEE1GRDAQQlNOWAhCU05ZCA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Battery: _BIF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					cF5eLwRQQ0kwTFBDQkVDMF9EQ1AwiFBBSzAB
					AHBeXi8EUENJMExQQ0JFQzBfRkNQMGBwYIhQ
					QUswCgIAcF5eLwRQQ0kwTFBDQkVDMF9EVlQw
					iFBBSzAKBABwXl4vBFBDSTBMUENCRUMwX0RO
					TjBhcF5eLwRQQ0kwTFBDQkVDMF9CU04wYg==
					</data>
					<key>Replace</key>
					<data>
					cEIxQjJeXi8EUENJMExQQ0JFQzBfRENQWF5e
					LwRQQ0kwTFBDQkVDMF9EQ1BZiFBBSzABAHBC
					MUIyXl4vBFBDSTBMUENCRUMwX0ZDUFheXi8E
					UENJMExQQ0JFQzBfRkNQWWBwYIhQQUswCgIA
					cEIxQjJeXi8EUENJMExQQ0JFQzBfRFZUWF5e
					LwRQQ0kwTFBDQkVDMF9EVlRZiFBBSzAKBABw
					Xl4vBFBDSTBMUENCRUMwX0ROTjBhcEIxQjJe
					Xi8EUENJMExQQ0JFQzBfQlNOWF5eLwRQQ0kw
					TFBDQkVDMF9CU05ZYg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Battery: _BST</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					cF5eLwRQQ0kwTFBDQkVDMF9DQVAwiEJGQjAK
					AgBwXl4vBFBDSTBMUENCRUMwX1ZPVDCIQkZC
					MAoDAFsnXl4vBFBDSTBMUENCRUMwX01VVDBb
					I15eLwRQQ0kwTFBDQkVDMF9NVVQw//9wXl4v
					BFBDSTBMUENCRUMwX0NSVDBg
					</data>
					<key>Replace</key>
					<data>
					cEIxQjJeXi8EUENJMExQQ0JFQzBfQ0FQWF5e
					LwRQQ0kwTFBDQkVDMF9DQVBZiEJGQjAKAgBw
					QjFCMl5eLwRQQ0kwTFBDQkVDMF9WT1RYXl4v
					BFBDSTBMUENCRUMwX1ZPVFmIQkZCMAoDAFsn
					Xl4vBFBDSTBMUENCRUMwX01VVDBbI15eLwRQ
					Q0kwTFBDQkVDMF9NVVQw//9wQjFCMl5eLwRQ
					Q0kwTFBDQkVDMF9DUlRYXl4vBFBDSTBMUENC
					RUMwX0NSVFlg
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Battery: B1B2</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					BldBS18BEA==
					</data>
					<key>Replace</key>
					<data>
					BldBS18BFA9CMUIyAqR9aHlpCggAABA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_OSC USB 3.0, IMEI, MCHC, PNLF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					FEoPX09TQwxwa2CKYABDRFcximAKBENEVzKK
					YAoIQ0RXM6AaXi5YSENfQ1VJRGikXi5YSENf
					UE9TQ2lqa6EsoCpfT1NJDVdpbmRvd3MgMjAx
					MgCgFpNYQ05UAF4uWEhDX1hTRUx1WENOVKBB
					CJCTaEdVSURORVhQcENEVzJTVVBQcENEVzND
					VFJMoCWAe0NEVzEBAACgDHtDVFJMAQBOSFBH
					oA17Q1RSTAoEAE5QTUWgEJKTaQF9Q0RXMQoI
					Q0RXMaAWkpNDRFczQ1RSTH1DRFcxChBDRFcx
					cENUUkxDRFczcENUUkxPU0NDpGChDn1DRFcx
					CgRDRFcxpGA=
					</data>
					<key>Replace</key>
					<data>
					FEELX09TQwxwa2CKYABDRFcximAKBENEVzKK
					YAoIQ0RXM3BDRFcyU1VQUHBDRFczQ1RSTKBO
					BpCTaEdVSURORVhQoCaAe0NEVzEBAACgDXtD
					VFJMCgIATkhQR6ANe0NUUkwKBABOUE1FoBCS
					k2kBfUNEVzEKCENEVzGgFpKTQ0RXM0NUUkx9
					Q0RXMQoQQ0RXMXBDVFJMQ0RXM3BDVFJMT1ND
					Q6EMfUNEVzEKBENEVzGkYFuCD0lNRUkIX0FE
					UgwAABYAW4ILTUNIQwhfQURSAFuCM1BOTEYI
					X0FEUgAIX0hJRAwGEAACCF9DSUQNYmFja2xp
					Z2h0AAhfVUlECg4IX1NUQQoL
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>AMW0 DELLWMI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					AAhfVUlEABQT
					</data>
					<key>Replace</key>
					<data>
					AAhfVUlEDURFTExXTUkAFBM=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Darwin</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					G19PU0kNV2luZG93cyAyMDAxAHAL0Q==
					</data>
					<key>Replace</key>
					<data>
					FV9PU0kNRGFyd2luAHAL2Q==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Dell MBT</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					oEUEfV9PU0kNV2luZG93cyAyMDA2AF9PU0kN
					V2luZG93cyAyMDA5AABbghtNQlRfCF9ISUQM
					QdAMMhQLR0hJRACkEQMBAg==
					</data>
					<key>Replace</key>
					<data>
					W4IbTUJUXwhfSElEDEHQDDIUC0dISUQApBED
					AQI=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ResourceTag</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					ikJVRjAL+AFNU0xO
					</data>
					<key>Replace</key>
					<data>
					j0JVRjAL+AFNU0xO
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_T_</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1RfMA==
					</data>
					<key>Replace</key>
					<data>
					VF8wXw==
					</data>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1RfMQ==
					</data>
					<key>Replace</key>
					<data>
					VF8xXw==
					</data>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1RfMg==
					</data>
					<key>Replace</key>
					<data>
					VF8yXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>IRQ RTC, TIMR</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					UlRDXwhfSElEDEHQCwAIX0NSUxEQCg1HAXAA
					cAABCCIAAXkAW4ItVElNUghfSElEDEHQAQAI
					X0NSUxEYChVHAUAAQAABBEcBUABQABAEIgEA
					eQBbgk8E
					</data>
					<key>Replace</key>
					<data>
					UlRDXwhfSElEDEHQCwAIX0NSUxENCgpHAXAA
					cAABAnkAW4IqVElNUghfSElEDEHQAQAIX0NS
					UxEVChJHAUAAQAABBEcBUABQABAEeQBbgk8E
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ADP0 -&gt; ADP1</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QURQMA==
					</data>
					<key>Replace</key>
					<data>
					QURQMQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>BAT0 -&gt; SMB0</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QkFUMA==
					</data>
					<key>Replace</key>
					<data>
					U01CMA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>RP01 -&gt; RP02</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					UlAwMQ==
					</data>
					<key>Replace</key>
					<data>
					UlAwMg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SAT0 -&gt; SATA</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U0FUMA==
					</data>
					<key>Replace</key>
					<data>
					U0FUQQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>GFX0 -&gt; IGPU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0ZYMA==
					</data>
					<key>Replace</key>
					<data>
					SUdQVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>PXSX -&gt; ARPT</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					UFhTWA==
					</data>
					<key>Replace</key>
					<data>
					QVJQVA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>FOWM</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					NEZPV00CWyNQU01Y//9wCuBXQ01EcApXVFBJ
					RHBoV0NDTHBpV0NTRXAAUEhYSVsnUFNNWA==
					</data>
					<key>Replace</key>
					<data>
					BkZPV00C
					</data>
				</dict>
			</array>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Ist</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>PtidDevc</string>
			</dict>
		</array>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<true/>
			<key>Generate</key>
			<dict>
				<key>APLF</key>
				<true/>
				<key>APSN</key>
				<true/>
				<key>CStates</key>
				<true/>
				<key>PStates</key>
				<true/>
				<key>PluginType</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>darkwake=no kext-dev-mode=1 -v</string>
		<key>Debug</key>
		<false/>
		<key>DefaultVolume</key>
		<string>Macintosh HD</string>
		<key>Legacy</key>
		<string>PBR</string>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>1</integer>
		<key>XMPDetection</key>
		<false/>
	</dict>
	<key>CPU</key>
	<dict>
		<key>FrequencyMHz</key>
		<integer>1800</integer>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<integer>3</integer>
		</dict>
		<key>FakeID</key>
		<dict>
			<key>IntelGFX</key>
			<string>0x0</string>
			<key>SATA</key>
			<string>0x0</string>
			<key>WIFI</key>
			<string>0x0</string>
			<key>XHCI</key>
			<string>0x0</string>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>HighCurrent</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>Nothing</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>Language</key>
		<string>en:0</string>
		<key>Mouse</key>
		<dict>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<true/>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<false/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>Theme</key>
		<string>bootcamp</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Custom</key>
			<data>
			AP///////wANrkUTAAAAABUWAQSlHRF4AqcFplZUmyYMUFQAAAAB
			AQEBAQEBAQEBAQEBAQEBNjaAoHA4IEAuHiQAJqUQAAAaJCSAoHA4
			IEAuHiQAJqUQAAAaAAAA/gBWS1dKQ4AxMzNIU0UKAAAAAAAKQTGj
			ABAAAAoBCiAgACM=
			</data>
		</dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>NvidiaSingle</key>
		<false/>
		<key>ig-platform-id</key>
		<string>0x01660009</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>Debug</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<false/>
		<key>KernelXCPM</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Boot graphics glitch, 10.10.x/10.11.x (credit lisai9093, cecekpawon)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AQAAdRc=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IOGraphicsFamily</string>
				<key>Replace</key>
				<data>
				AQAA6xc=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio HD4000 0x01660004, port 0406</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				BAYAAAAEAACBAAAA
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>
				BAYAAAAIAAAGAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-video, 64MB BIOS, HD4000 0x01660004 #2 of 2</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				MAIAAAAAAAABAAAAQAAAAAAAAAABAAAAQAAAAAAAAAAB
				AAAAQAAAAAAAAAAAAAAA
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>
				MAIAAAIFAAAABAAABwQAAAMEAAAABAAAgQAAAAQGAAAA
				BAAAgQAAAAAAAAAAAgAR
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-audio HD4000 0x01660004, port 0205</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AgUAAAAEAAAHBAAA
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>
				AgUAAAAIAAAGAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDA ALC2xx</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				hAjsEA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>
				AAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AD1984 -&gt; ALC275</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				hBnUEQ==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>
				dQLsEA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSD Trim</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				QVBQTEUgU1NE
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI-video, 64MB BIOS, HD4000 0x01660004 #1 of 2</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				BABmAQEDAQEAAAAC
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleIntelFramebufferCapri</string>
				<key>Replace</key>
				<data>
				BABmAQECBAIAAAAE
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>External icons patch</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				RXh0ZXJuYWw=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleAHCIPort</string>
				<key>Replace</key>
				<data>
				SW50ZXJuYWw=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDA ALC275 #2</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				gxnUEQ==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>
				AAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Raise 15 port limit to 30 in AppleUSBXHCIPCI</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g72M/v//EA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<data>
				g72M/v//Hw==
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x3</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>06/13/2019</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP91.88Z.F000.B00.1906131919</string>
		<key>Board-ID</key>
		<string>Mac-6F01561E16C75D06</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02319802GUF1YJAD</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x0A</string>
		<key>EfiVersion</key>
		<string>228.0.0.0.0</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>FirmwareFeatures</key>
		<string>0xC00DE137</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>PlatformFeature</key>
		<string>0xFFFF</string>
		<key>ProductName</key>
		<string>MacBookPro9,2</string>
		<key>SerialNumber</key>
		<string>C02KPRZ4DTY3</string>
		<key>SmUUID</key>
		<string>0A336FFD-D80A-458C-9806-B829079AF443</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
